---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    840px;

$on-palm:          600px;
$on-laptop:        840px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
  background: #45484d;
  background: -webkit-radial-gradient(center, ellipse cover,  #45484d 0%, #111111 100%);
  background:    -moz-radial-gradient(center, ellipse cover,  #45484d 0%, #111111 100%);
  background:             radial-gradient(ellipse at center,  #45484d 0%, #111111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000',GradientType=1);
}

.logo {
  height: 2.2em;
  margin-top: 1em;
  margin-bottom: 0.2em;
  display: block;
  width: 100%;
}

.home {
  margin-top: 1em;
  display: block;
  border: 1px solid darken($grey-color-dark, 5%);
  background-color: $grey-color-light;
  border-radius: 3px;
}

.install {
  margin: 4em auto;
  padding: 2.5%;
  border-radius: 3px;
  color: $grey-color-dark;
  font-family: monospace;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  cursor:default;
  position: relative;

  .warning {
    opacity: 0;
    font-family: sans-serif;
    font-size: 0.6em;
    margin-top: 1em;
    line-height: 2;
    position: absolute;
    transition: opacity 0.1s linear;
  }

  .command:focus + .warning {
    opacity: 1;
  }
}

.description {
  color: darken($grey-color-light, 15%);
  font-weight: 300;
  padding: 5%;
  line-height: 1.8;
}

.footer-heading {
  color: darken($grey-color-light, 15%);
  font-weight: 300;
  text-align: center;
}

span.command::before {
    content: "$ ";
}
