.DS_Store
.vagrant
_workspace
*.swp
talisman
.idea/**
checksums
vendor/
gitrepo/data/*
detector/.talismanrc
.vscode/**
coverage.out
coverage.txt
.talismanrc
talisman_reports/
*.iml
dist/
*.out
*.pprof
*.mprof
.envrc
talisman_html_report
.vscode
.idea