# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Talisman
email: talisman-maintainers@thoughtworks.com
description: >
  Talisman is a tool is to validate code changes that are to be pushed out of a
  local Git repository on a developer's workstation. By hooking into the
  pre-push hook provided by Git, it validates the outgoing changeset for things
  that look suspicious - such as potential SSH keys, authorization tokens,
  private keys etc. The aim is for Talisman to scan both file names and file
  content so that even potential problems embedded in source code and
  documentation can be caught.
baseurl: "/talisman" # the subpath of your site, e.g. /blog
url: "https://thoughtworks.github.io" # the base hostname & protocol for your site

permalink: pretty

exclude:
  - vendor

# Build settings
markdown: kramdown

theme: just-the-docs

# Color scheme supports "light" (default) and "dark"
color_scheme: dark

# Enable or disable the site search
# Supports true (default) or false
search_enabled: true

search:
  # Split pages into sections that can be searched individually
  # Supports 1 - 6, default: 2
  heading_level: 2
  # Maximum amount of previews per search result
  # Default: 3
  previews: 3
  # Maximum amount of words to display before a matched word in the preview
  # Default: 5
  preview_words_before: 5
  # Maximum amount of words to display after a matched word in the preview
  # Default: 10
  preview_words_after: 10
  # Set the search token separator
  # Default: /[\s\-/]+/
  # Example: enable support for hyphenated search words
  tokenizer_separator: /[\s/]+/
  # Display the relative url in search results
  # Supports true (default) or false
  rel_url: true
  # Enable or disable the search button that appears in the bottom right corner of every page
  # Supports true or false (default)
  button: false

# Aux links for the upper right navigation
aux_links:
  "Talisman on GitHub":
    - "//github.com/thoughtworks/talisman/"

# Makes Aux links open in a new tab. Default is false
aux_links_new_tab: false

plugins:
  - jekyll-seo-tag

# Heading anchor links appear on hover over h1-h6 tags in page content
# allowing users to deep link to a particular heading on a page.
#
# Supports true (default) or false
heading_anchors: true


# Footer content
# appears at the bottom of every page's main content
footer_content: "&copy;&nbsp;2015-2020&nbsp;ThoughtWorks, Inc."