name: Test

on:
  push:
    branches: '**'
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Format
        run: |
          go fmt ./...
          git diff --no-patch --exit-code
      - name: Test
        run: |
          git config user.email "talisman-maintainers@thoughtworks.com"
          git config user.name "Talisman Maintainers"
          go test -covermode=count -v ./...
      - name: Install bash_unit
        run: bash <(curl -s https://raw.githubusercontent.com/pgrange/bash_unit/master/install.sh)
      - name: Test install script
        run: ./bash_unit test-install.sh
